name: Environment Variables Check

on:
  pull_request:
    branches: [main]
  push:
    branches: [main, develop]

jobs:
  envguard:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      
      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20.x'
      
      - name: Run EnvGuard check
        run: npm @danielszlaski/envguard check